@model ClassesMarmitex.TempoAntecedenciaEntrega

@{
    ViewBag.Title = "Horário entrega";
}

<div class="profile-content-backfull">
    <h2>Editar tempo mínimo de antecedência do pedido</h2>
    <p style="font:italic;" class="vermelho-marmitex">os campos com * são de preenchimento obrigatório</p>
    <div class="col-md-10">

        @if (ViewBag.MensagemCarregamentoEditarHorarioEntrega != null)
        {
            <script>
                swal({
                    title: 'Oops',
                    html: "@ViewBag.MensagemCarregamentoEditarHorarioEntrega",
                    type: 'error',
                    confirmButtonText: 'Ok',
                    confirmButtonColor: corConfirmacao,
                    cancelButtonColor: corCancelar
                }).then(function () {
                    window.location = "@Session["urlBase"]/HorarioEntrega/";
                    });
            </script>
        }
        else
        {
            <form method="post" action="@Session["urlBase"]/HorarioEntrega/EditarTempoAntecedenciaHorario">

                @if (ViewBag.MensagemEditarHorarioEntrega != null)
                {
                    <div class="text-center">
                        <p>@ViewBag.MensagemEditarHorarioEntrega</p>
                    </div>
                }
                else
                {
                    <div class="col-md-12">
                        <div class="form-group">
                            <p class="vermelho-marmitex">@Html.ValidationMessage("MinutosAntecedencia")</p>
                            <label for="nome">tempo de antecedência em minutos *</label>

                            @if (Model != null)
                            {
                                <input type="hidden" name="id" value="@Model.Id" />
                                <input type="number" id="minutosAntecedencia" name="MinutosAntecedencia" value="@Model.MinutosAntecedencia" class="form-control" min="1" max="120" />
                            }
                            else
                            {
                                <input type="number" id="minutosAntecedencia" name="MinutosAntecedencia" class="form-control" />
                            }

                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="buttons-formcontrol">
                            <input type="submit" class="btn btn-success" value="salvar" />
                        </div>
                    </div>
                }

            </form>
        }
    </div>
</div>
