@model ClassesMarmitex.Brinde

@{
    ViewBag.Title = "Brinde";
}

<div class="profile-content-backfull">

    <ul class="breadcrumb">
        <li>
            <i class="fa fa-globe"></i>
            <a href="@Session["urlBase"]/Home">Inicio</a>
        </li>
        <li>
            <i class="fa fa-handshake-o fa-lg"></i>
            <a href="@Session["urlBase"]/Brinde/">Brindes</a>
        </li>
    </ul>

    <h2>Editar brinde</h2>
    <p style="font:italic;" class="vermelho-marmitex">os campos com * são de preenchimento obrigatório</p>
    <div class="col-md-10">

        @if (ViewBag.MensagemCarregamentoEditarBrinde != null)
        {
            <script>
                swal({
                    title: 'Oops',
                    html: "@ViewBag.MensagemCarregamentoEditarBrinde",
                    type: 'error',
                    confirmButtonText: 'Ok',
                    confirmButtonColor: corConfirmacao,
                    cancelButtonColor: corCancelar
                }).then(function () {
                    window.location = "@Session["urlBase"]/Brinde/";
                    });
            </script>
        }
        else
        {
            <form method="post" action="@Session["urlBase"]/Brinde/EditarBrinde" enctype="multipart/form-data">

                @Html.Partial("_FormBrinde")

                <div class="col-md-12">
                    <div class="buttons-formcontrol">
                        <input type="submit" class="btn btn-success" value="salvar" />
                    </div>
                </div>

            </form>
        }

    </div>
</div>
