@model ClassesMarmitex.DadosBrindeParceiro

<div class="profile-content-backfull">
    <row>
        @if (ViewBag.MensagemDetalhesParceiro != null)
        {
            <script>
                swal({
                    title: 'Oops',
                    html: "@ViewBag.MensagemDetalhesParceiro",
                    type: 'error',
                    confirmButtonText: 'Ok'
                }).then(function () {
                    //volta para a tela de parceiros
                    window.location = "@Session["urlBase"]/Parceiro/";
                    });
            </script>
        }
        else if (ViewBag.MensagemCarregamentoAdicionarBrinde != null)
        {
            <script>
                swal({
                    title: 'Oops',
                    html: "@ViewBag.MensagemCarregamentoAdicionarBrinde",
                    type: 'error',
                    confirmButtonText: 'Ok'
                });
            </script>
        }
        else
        {
            if (Model != null)
            {
                <h1 class="text-left">@Model.NomeParceiro</h1>

                <ul class="breadcrumb">
                    <li>
                        <i class="fa fa-globe"></i>
                        <a href="@Session["urlBase"]/Home">Inicio</a>
                    </li>
                    <li>
                        <i class="fa fa-shopping-cart"></i>
                        <a href="@Session["urlBase"]/Parceiro/">Parceiros</a>
                    </li>
                    <li>
                        <i class="fa fa-bars"></i>
                        <a href="@Session["urlBase"]/Parceiro/Detalhes/@Model">Detalhes</a>
                    </li>
                </ul>

                <div class="text-right">
                    <a href="@Session["urlBase"]/Parceiro/AdicionarBrinde/@Model.IdParceiro" class="btn btn-success">adicionar brinde parceiro</a>
                </div>
                <hr />

                <div class="col-md-12">
                    <h2>Brindes</h2>
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>nome</th>
                                    <th>descrição</th>
                                    <th>imagem</th>
                                    <th>ativo</th>
                                    <th>ações</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var brinde in Model.Brindes)
                                {
                                    ClassesMarmitex.BrindeParceiro brindeParceiro = new ClassesMarmitex.BrindeParceiro
                                    {
                                        IdBrinde = brinde.Id,
                                        IdParceiro = Convert.ToInt32(Session["IdParceiro"])
                                    };

                                    if (brinde.Ativo)
                                    {
                                        <tr>
                                            <td>@brinde.Nome</td>
                                            <td>@brinde.Descricao</td>
                                            <td><img src="@Session["CaminhoImagensBrindes"]/@brinde.Imagem" class="img-responsive" style="height: 70px;" alt="produto"></td>
                                            <td>@(brinde.Ativo == true ? "Sim" : "Não")</td>
                                            <td>
                                                <button class="btn-link" style="color: #E67E22" onclick="Get('@Session["urlBase"]/Parceiro/DesativarBrindeParceiro/@brinde.Id')"> <i class="glyphicon glyphicon-off"></i></button>
                                                <button class="btn-link" style="color: #bc2026" onclick="Excluir('@Session["urlBase"]/Parceiro/ExcluirBrindeParceiro/@brinde.Id')"><i class="glyphicon glyphicon-remove"></i></button>
                                            </td>
                                        </tr>
                                    }
                                    else
                                    {
                                        <tr class="danger">
                                            <td>@brinde.Nome</td>
                                            <td>@brinde.Descricao</td>
                                            <td><img src="@Session["CaminhoImagensBrindes"]/@brinde.Imagem" class="img-responsive" style="height: 70px;" alt="produto"></td>
                                            <td>@(brinde.Ativo == true ? "Sim" : "Não")</td>
                                            <td>
                                                <button class="btn-link" style="color: #E67E22" onclick="Get('@Session["urlBase"]/Parceiro/DesativarBrindeParceiro/@brinde.Id')"> <i class="glyphicon glyphicon-off"></i></button>
                                                <button class="btn-link" style="color: #bc2026" onclick="Excluir('@Session["urlBase"]/Parceiro/ExcluirBrindeParceiro/@brinde.Id')"><i class="glyphicon glyphicon-remove"></i></button>
                                            </td>
                                        </tr>
                                    }
                                }

                        </table>
                    </div>

                </div>
            }
        }
    </row>

</div>