@model IList<ClassesMarmitex.Parceiro>

<div class="col-md-12">
    <div class="profile-content-backfull">
        <h1 class="text-left">Parceiros</h1>

        <ul class="breadcrumb">
            <li>
                <a href="@Session["urlBase"]/Home">Inicio</a>
            </li>
            <li>
                <a href="@Session["urlBase"]/Parceiro/">Parceiros</a>
            </li>
        </ul>

        <div class="text-right">
            <a href="/Parceiro/Adicionar" class="btn btn-success">adicionar parceiro</a>
        </div>

        <hr />

        <div class="col-md-12">
            @if (Model != null)
            {
                if (ViewBag.MensagemParceiros != null)
                {
                    <div class="text-center">
                        <p>@ViewBag.MensagemParceiros</p>
                    </div>
                }
                else
                {
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>nome</th>
                                    <th>descrição</th>
                                    <th>endereço</th>
                                    <th>código parceiro</th>
                                    <th>taxa de entrega</th>
                                    <th>ativo</th>
                                    <th>ações</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var parceiro in Model)
                                {
                                    if (parceiro.Ativo)
                                    {
                                        <tr class="table-mmt">
                                            <td>
                                                <a href="@Session["urlBase"]/Parceiro/Detalhes/@parceiro.Id" title="ver detalhes">
                                                    @parceiro.Nome
                                                </a>
                                            </td>
                                            <td>@parceiro.Descricao</td>
                                            <td>@parceiro.Endereco.Logradouro, @parceiro.Endereco.NumeroEndereco - @parceiro.Endereco.Bairro</td>
                                            <td>@parceiro.Codigo</td>
                                            <td>R$ @parceiro.TaxaEntrega.ToString("F")</td>
                                            <td>@(parceiro.Ativo == true ? "Sim" : "Não")</td>
                                            <td>
                                                <button class="btn-link" style="color: #1a9c21" onclick="IrParaUrl('@Session["urlBase"]/Parceiro/Editar/@parceiro.Id')" title="Editar"><i class="glyphicon glyphicon-edit"></i></button>
                                                <button class="btn-link" style="color: #E67E22" onclick="Get('@Session["urlBase"]/Parceiro/Desativar/@parceiro.Id')" title="Desativar"><i class="glyphicon glyphicon-off"></i></button>
                                                <button class="btn-link" style="color: #bc2026" onclick="Excluir('@Session["urlBase"]/Parceiro/Excluir/@parceiro.Id')" title="Excluir"><i class="glyphicon glyphicon-remove"></i></button>
                                            </td>
                                        </tr>
                                    }
                                    else
                                    {
                                        <tr class="danger">
                                            <td>
                                                <a href="@Session["urlBase"]/Parceiro/Detalhes/@parceiro.Id" title="ver detalhes">
                                                    @parceiro.Nome
                                                </a>
                                            </td>
                                            <td>@parceiro.Descricao</td>
                                            <td>@parceiro.Endereco.Logradouro, @parceiro.Endereco.NumeroEndereco - @parceiro.Endereco.Bairro</td>
                                            <td>@parceiro.Codigo</td>
                                            <td>R$ @parceiro.TaxaEntrega.ToString("F")</td>
                                            <td>@(parceiro.Ativo == true ? "Sim" : "Não")</td>
                                            <td>
                                                <button class="btn-link" style="color: #1a9c21" onclick="IrParaUrl('@Session["urlBase"]/Parceiro/Editar/@parceiro.Id')" title="Editar"><i class="glyphicon glyphicon-edit"></i></button>
                                                <button class="btn-link" style="color: #E67E22" onclick="Get('@Session["urlBase"]/Parceiro/Desativar/@parceiro.Id')" title="Desativar"><i class="glyphicon glyphicon-off"></i></button>
                                                <button class="btn-link" style="color: #bc2026" onclick="Excluir('@Session["urlBase"]/Parceiro/Excluir/@parceiro.Id')" title="Excluir"><i class="glyphicon glyphicon-remove"></i></button>
                                            </td>
                                        </tr>
                                    }

                                }
                        </table>
                    </div>
                }
            }
        </div>
    </div>
</div>