@model IList<ClassesMarmitex.Parceiro>

<div class="col-md-12">
    <div class="profile-content-backfull">
        <h1 class="text-left">Parceiros</h1>

        <ul class="breadcrumb">
            <li>
                <i class="fa fa-globe"></i>
                <a href="@Session["urlBase"]/Home">Inicio</a>
            </li>
            <li>
                <i class="fa fa-handshake-o fa-lg"></i>
                <a href="@Session["urlBase"]/Parceiro/">Parceiros</a>
            </li>
        </ul>

        <div class="text-right">
            <a href="/Parceiro/Adicionar" class="btn btn-success">adicionar parceiro</a>
        </div>
        <hr />

        <div class="col-md-12">
            @*se houver alguma mensagem relacionada a exclusão de parceiros, lança um alert com a mensagem*@
            @if (ViewBag.MensagemExcluirParceiro != null)
            {
                <script>
                    swal(
                        'Oops...',
                        'não foi possível excluir. por favor, tente novamente ou entre em contato com o administrador',
                        'error'
                    );
                </script>
            }


            @if (Model != null)
            {
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>nome</th>
                                <th>descrição</th>
                                <th>endereço</th>
                                <th>código parceiro</th>
                                <th>taxa de entrega</th>
                                <th>ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var parceiro in Model)
                            {
                                <tr>
                                    <td>@parceiro.Nome</td>
                                    <td>@parceiro.Descricao</td>
                                    <td>@parceiro.Endereco.Logradouro, @parceiro.Endereco.NumeroEndereco - @parceiro.Endereco.Bairro</td>
                                    <td>@parceiro.Codigo</td>
                                    <td>R$ @parceiro.TaxaEntrega.ToString("F")</td>
                                    <td>
                                        <a href="@Session["urlBase"]/Parceiro/Editar/@parceiro.Id" style="color: #1a9c21"><i class="glyphicon glyphicon-edit"></i></a>
                                        <a href="@Session["urlBase"]/Parceiro/Excluir/@parceiro.Id" style="color: #bc2026"><i class="glyphicon glyphicon-remove"></i></a>
                                    </td>
                                </tr>
                            }

                    </table>
                </div>

            }
            else
            {
                <div class="text-center">
                    <p>@ViewBag.MensagemParceiros</p>
                </div>
            }

        </div>
    </div>
</div>