@model List<ClassesMarmitex.MenuCardapio>

<div class="profile-content-backfull">
    <row>
        <h1 class="text-left">Cardápio</h1>

        <ul class="breadcrumb">
            <li>
                <i class="fa fa-globe"></i>
                <a href="@Session["urlBase"]/Home">Inicio</a>
            </li>
            <li>
                <i class="fa fa-handshake-o fa-lg"></i>
                <a href="@Session["urlBase"]/Parceiro/">Parceiros</a>
            </li>
        </ul>

        <div class="text-right">
            <a href="/Cardapio/Adicionar" class="btn btn-success">adicionar cardápio</a>
        </div>
        <hr />

        <div class="col-md-12">
            @if (Model != null)
            {
                if (ViewBag.MensagemCardapio != null)
                {
                    <div class="text-center">
                        <p>@ViewBag.MensagemCardapio</p>
                    </div>
                }
                else
                {
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>nome</th>
                                    <th>ordem de exibição</th>
                                    <th>ativo</th>
                                    <th>ações</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var cardapio in Model)
                                {
                                    if (cardapio.Ativo)
                                    {
                                        <tr>
                                            <td>@cardapio.Nome</td>
                                            <td>@cardapio.OrdemExibicao</td>
                                            <td>@(cardapio.Ativo == true ? "Sim" : "Não")</td>
                                            <td>
                                                <button class="btn-link" style="color: #1a9c21" onclick="IrParaUrl('@Session["urlBase"]/Cardapio/Editar/@cardapio.Id')" title="Editar"><i class="glyphicon glyphicon-edit"></i></button>
                                                <button class="btn-link" style="color: #E67E22" onclick="Get('@Session["urlBase"]/Cardapio/Desativar/@cardapio.Id')" title="Desativar"><i class="glyphicon glyphicon-off"></i></button>
                                                <button class="btn-link" style="color: #bc2026" onclick="Excluir('@Session["urlBase"]/Cardapio/Excluir/@cardapio.Id')" title="Excluir"><i class="glyphicon glyphicon-remove"></i></button>
                                            </td>
                                        </tr>
                                    }
                                    else
                                    {
                                        <tr class="danger">
                                            <td>@cardapio.Nome</td>
                                            <td>@cardapio.OrdemExibicao</td>
                                            <td>@(cardapio.Ativo == true ? "Sim" : "Não")</td>
                                            <td>
                                                <button class="btn-link" style="color: #1a9c21" onclick="IrParaUrl('@Session["urlBase"]/Cardapio/Editar/@cardapio.Id')" title="Editar"><i class="glyphicon glyphicon-edit"></i></button>
                                                <button class="btn-link" style="color: #E67E22" onclick="Get('@Session["urlBase"]/Cardapio/Desativar/@cardapio.Id')" title="Desativar"><i class="glyphicon glyphicon-off"></i></button>
                                                <button class="btn-link" style="color: #bc2026" onclick="Excluir('@Session["urlBase"]/Cardapio/Excluir/@cardapio.Id')" title="Excluir"><i class="glyphicon glyphicon-remove"></i></button>
                                            </td>
                                        </tr>
                                    }

                                }
                        </table>
                    </div>
                }
            }
        </div>
    </row>
</div>
