@model ClassesMarmitex.DadosBrindeParceiro

@{
    ViewBag.Title = "Brinde";
}

<div class="col-md-12">
    <div class="form-group">
        <label for="brinde">brinde *</label>

        @if (Model != null)
        {
            <input type="hidden" name="IdParceiro" value="@Model.IdParceiro" />
        }

        <select class="form-control" name="IdBrinde" required>
            <option value="0" selected>escolher brinde...</option>

            @if (Model != null)
            {
                foreach (ClassesMarmitex.Brinde brinde in Model.Brindes)
                {
                    <option value="@brinde.Id">@brinde.Nome</option>
                }
            }
        </select>

    </div>
</div>

<div class="col-md-12">
    <div class="form-group">
        <label for="ativo">brinde ativo?</label>

        @Html.CheckBox("Ativo", true)

    </div>
</div>


<div class="col-md-12">
    <div class="form-group">
        @if (ViewBag.MensagemErroCadBrindeParceiro != null)
        {
            <p class="vermelho-marmitex">@ViewBag.MensagemErroCadBrindeParceiro</p>
        }
    </div>
</div>
