@model ClassesMarmitex.MenuCardapio

@{
    ViewBag.Title = "Categoria de produtos";
}

<div class="col-md-12">
    <div class="form-group">
        <p class="vermelho-marmitex">@Html.ValidationMessage("Nome")</p>
        <label for="nomeCardapio">nome categoria *</label>

        @if (Model != null)
        {
            <input type="hidden" name="id" value="@Model.Id" />
            <input type="text" id="nomeCardapio" name="Nome" value="@Model.Nome" class="form-control" placeholder="nome da categoria de produtos" required/>
        }
        else
        {
            <input type="text" id="nomeCardapio" name="Nome" class="form-control" placeholder="nome da categoria de produtos" required/>
        }


    </div>
</div>

<div class="col-md-12">
    <div class="form-group">
        <p class="vermelho-marmitex">@Html.ValidationMessage("OrdemExibicao")</p>
        <label for="ordemExibicao">ordem de exibição na lista de categorias *</label>
        <br />
        <div class="bloco-informacao">A ordem de exibição serve para ordenar a lista de categorias, por exemplo:
               <br /><br />
               1 - Pratos da casa<br />
               2 - Bebidas<br />
               3 - Sobremesas
               <br /><br />
        Insira o número da posição em que esta categoria deve aparecer para o cliente.</div>

        @if (Model != null)
        {
            <input type="number" min="0" id="ordemExibicao" name="OrdemExibicao" value="@Model.OrdemExibicao" class="form-control" placeholder="número da posição em que a categoria deve aparecer" required/>
        }
        else
        {
            <input type="number" min="0" id="ordemExibicao" name="OrdemExibicao" class="form-control" placeholder="número da posição em que a categoria deve aparecer" required/>
        }


    </div>
</div>

<div class="col-md-12">
    <div class="form-group">
        <label for="ativo">categoria ativa?</label>

        @Html.CheckBox("Ativo", true)

    </div>
</div>


<div class="col-md-12">
    <div class="form-group">
        @if (ViewBag.MensagemCardapio != null)
            {
            <p class="vermelho-marmitex">@ViewBag.MensagemCardapio</p>
        }

        @if (ViewBag.MensagemEditarCardapio != null)
        {
            <p class="vermelho-marmitex">@ViewBag.MensagemEditarCardapio</p>
        }
    </div>
</div>

