@model ClassesMarmitex.DadosProdutoAdicional

<div class="col-md-12">
    <div class="form-group">
        <label for="nome">nome produto adicional *</label>

        @if (Model != null)
        {
            <input type="hidden" name="id" value="@Model.Id" />
            <input type="text" id="nome" name="Nome" value="@Model.Nome" class="form-control" />
        }
        else
        {
            <input type="text" id="nome" name="Nome" class="form-control" />
        }

    </div>
</div>
<div class="col-md-12">
    <div class="form-group">
        <label for="descricao">descrição</label>

        @if (Model != null)
        {
            <input type="text" id="descricao" name="Descricao" value="@Model.Descricao" class="form-control" />
        }
        else
        {
            <input type="text" id="descricao" name="Descricao" class="form-control" />
        }

    </div>
</div>

<div class="col-md-12">
    <div class="form-group">
        <div class="checkbox">
            <label>
                @Html.CheckBox("Ativo", true)
                produto adicional ativo?
            </label>
        </div>
    </div>
</div>



<div class="col-md-12">
    <div class="form-group">
        @if (ViewBag.MensagemErroCadProdAdicional != null)
        {
            <p class="vermelho-marmitex">@ViewBag.MensagemErroCadProdAdicional</p>
        }

        @if (ViewBag.MensagemEditarProdutoAdicional != null)
        {
            <p class="vermelho-marmitex">@ViewBag.MensagemEditarProdutoAdicional</p>
        }
    </div>
</div>




