@model ClassesMarmitex.ParceiroCadastro

<div class="col-md-12">
    <div class="form-group">
        <p class="vermelho-marmitex">@Html.ValidationMessage("Nome")</p>

        <label for="nome">nome parceiro *</label>

        @if (Model != null)
        {
            <input type="hidden" name="id" value="@Model.Id" />
            <input type="text" id="nome" name="Nome" value="@Model.Nome" class="form-control" required/>
        }
        else
        {
            <input type="text" id="nome" name="Nome" class="form-control" required/>
        }

    </div>
</div>
<div class="col-md-12">
    <div class="form-group">
        <p class="vermelho-marmitex">@Html.ValidationMessage("Descricao")</p>
        <label for="descricao">descrição</label>

        @if (Model != null)
        {
            <input type="text" id="descricao" name="Descricao" value="@Model.Descricao" class="form-control" />
        }
        else
        {
            <input type="text" id="descricao" name="Descricao" class="form-control" />
        }

    </div>
</div>
<div class="col-md-12">
    <div class="form-group">
        <p class="vermelho-marmitex">@Html.ValidationMessage("Cep")</p>
        <label for="cep">cep *</label>

        @if (Model != null)
        {
            <input type="hidden" name="IdEndereco" value="@Model.IdEndereco"/>
            <input type="text" id="cep" name="Cep" class="form-control" value="@Model.Cep" onkeyup="formataCEP(this, event)" maxlength="9" required/>
        }
        else
        {
            <input type="text" id="cep" name="Cep" class="form-control" onkeyup="formataCEP(this, event)" maxlength="9" required/>
        }
    </div>
</div>
<div class="col-md-12">
    <div class="form-group">
        <p class="vermelho-marmitex">@Html.ValidationMessage("UF")</p>
        <label for="uf">uf *</label>

        @if (Model != null)
        {
            <select class="form-control" id="uf" value="@Model.UF" name="UF" required>
                @if (@Model.UF == "AC")
                {
                    <option selected>AC</option>
                }
                else
                {
                    <option>AC</option>
                }
                
                @if (@Model.UF == "AL")
                {
                    <option selected>AL</option>
                }
                else
                {
                    <option>AL</option>
                }

                @if (@Model.UF == "AP")
                {
                    <option selected>AP</option>
                }
                else
                {
                    <option>AP</option>
                }

                @if (@Model.UF == "AM")
                {
                    <option selected>AM</option>
                }
                else
                {
                    <option>AM</option>
                }

                @if (@Model.UF == "BA")
                {
                    <option selected>BA</option>
                }
                else
                {
                    <option>BA</option>
                }

                @if (@Model.UF == "CE")
                {
                    <option selected>CE</option>
                }
                else
                {
                    <option>CE</option>
                }

                @if (@Model.UF == "DF")
                {
                    <option selected>DF</option>
                }
                else
                {
                    <option>DF</option>
                }

                @if (@Model.UF == "ES")
                {
                    <option selected>ES</option>
                }
                else
                {
                    <option>ES</option>
                }

                @if (@Model.UF == "GO")
                {
                    <option selected>GO</option>
                }
                else
                {
                    <option>GO</option>
                }

                @if (@Model.UF == "MA")
                {
                    <option selected>MA</option>
                }
                else
                {
                    <option>MA</option>
                }

                @if (@Model.UF == "MT")
                {
                    <option selected>MT</option>
                }
                else
                {
                    <option>MT</option>
                }

                @if (@Model.UF == "MS")
                {
                    <option selected>MS</option>
                }
                else
                {
                    <option>MS</option>
                }

                @if (@Model.UF == "MG")
                {
                    <option selected>MG</option>
                }
                else
                {
                    <option>MG</option>
                }

                @if (@Model.UF == "PA")
                {
                    <option selected>PA</option>
                }
                else
                {
                    <option>PA</option>
                }

                @if (@Model.UF == "PB")
                {
                    <option selected>PB</option>
                }
                else
                {
                    <option>PB</option>
                }

                @if (@Model.UF == "PR")
                {
                    <option selected>PR</option>
                }
                else
                {
                    <option>PR</option>
                }

                @if (@Model.UF == "PE")
                {
                    <option selected>PE</option>
                }
                else
                {
                    <option>PE</option>
                }

                @if (@Model.UF == "PI")
                {
                    <option selected>PI</option>
                }
                else
                {
                    <option>PI</option>
                }

                @if (@Model.UF == "RJ")
                {
                    <option selected>RJ</option>
                }
                else
                {
                    <option>RJ</option>
                }

                @if (@Model.UF == "RN")
                {
                    <option selected>RN</option>
                }
                else
                {
                    <option>RN</option>
                }

                @if (@Model.UF == "RS")
                {
                    <option selected>RS</option>
                }
                else
                {
                    <option>RS</option>
                }

                @if (@Model.UF == "RO")
                {
                    <option selected>RO</option>
                }
                else
                {
                    <option>RO</option>
                }

                @if (@Model.UF == "RR")
                {
                    <option selected>RR</option>
                }
                else
                {
                    <option>RR</option>
                }

                @if (@Model.UF == "SC")
                {
                    <option selected>SC</option>
                }
                else
                {
                    <option>SC</option>
                }

                @if (@Model.UF == "SP")
                {
                    <option selected>SP</option>
                }
                else
                {
                    <option>SP</option>
                }

                @if (@Model.UF == "SE")
                {
                    <option selected>SE</option>
                }
                else
                {
                    <option>SE</option>
                }

                @if (@Model.UF == "TO")
                {
                    <option selected>TO</option>
                }
                else
                {
                    <option>TO</option>
                }
            </select>
        }
        else
        {
            <select class="form-control" id="uf" name="UF" required>
                <option>AC</option>
                <option>AL</option>
                <option>AP</option>
                <option>AM</option>
                <option>BA</option>
                <option>CE</option>
                <option>DF</option>
                <option>ES</option>
                <option>GO</option>
                <option>MA</option>
                <option>MT</option>
                <option>MS</option>
                <option>MG</option>
                <option>PA</option>
                <option>PB</option>
                <option>PR</option>
                <option>PE</option>
                <option>PI</option>
                <option>RJ</option>
                <option>RN</option>
                <option>RS</option>
                <option>RO</option>
                <option>RR</option>
                <option>SC</option>
                <option>SP</option>
                <option>SE</option>
                <option>TO</option>
            </select>
        }

    </div>
</div>
<div class="col-md-12">
    <div class="form-group">
        <p class="vermelho-marmitex">@Html.ValidationMessage("Cidade")</p>
        <label for="cidade">cidade *</label>

        @if (Model != null)
        {
            <input type="text" id="cidade" name="Cidade" value="@Model.Cidade" class="form-control" required/>
        }
        else
        {
            <input type="text" id="cidade" name="Cidade" class="form-control" required/>
        }

    </div>
</div>
<div class="col-md-12">
    <div class="form-group">
        <p class="vermelho-marmitex">@Html.ValidationMessage("Bairro")</p>
        <label for="bairro">bairro *</label>

        @if (Model != null)
        {
            <input type="text" id="bairro" name="Bairro" value="@Model.Bairro" class="form-control" required/>
        }
        else
        {
            <input type="text" id="bairro" name="Bairro" class="form-control" required/>
        }

    </div>
</div>
<div class="col-md-12">
    <div class="form-group">
        <p class="vermelho-marmitex">@Html.ValidationMessage("Logradouro")</p>
        <label for="logradouro">rua/avenida *</label>

        @if (Model != null)
        {
            <input type="text" id="logradouro" name="Logradouro" value="@Model.Logradouro" class="form-control" required/>
        }
        else
        {
            <input type="text" id="logradouro" name="Logradouro" class="form-control" required/>
        }


    </div>
</div>
<div class="col-md-12">
    <div class="form-group">
        <p class="vermelho-marmitex">@Html.ValidationMessage("NumeroEndereco")</p>
        <label for="numeroEndereco">número endereço *</label>

        @if (Model != null)
        {
            <input type="text" id="numeroEndereco" name="NumeroEndereco" value="@Model.NumeroEndereco" class="form-control" required/>
        }
        else
        {
            <input type="text" id="numeroEndereco" name="NumeroEndereco" class="form-control" required/>
        }


    </div>
</div>
<div class="col-md-12">
    <div class="form-group">
        <label for="complementoEndereco">complemento endereço</label>

        @if (Model != null)
        {
            <input type="text" id="complementoEndereco" name="ComplementoEndereco" value="@Model.ComplementoEndereco" class="form-control" />
        }
        else
        {
            <input type="text" id="complementoEndereco" name="ComplementoEndereco" class="form-control" />
        }


    </div>
</div>

<div class="col-md-12">
    <div class="form-group">
        <p class="vermelho-marmitex">@Html.ValidationMessage("TaxaEntrega")</p>
        <label for="taxaEntrega">taxa de entrega R$ *</label>

        @if (Model != null)
        {
            <input type="text" id="taxaEntrega" name="TaxaEntrega" value="@Model.TaxaEntrega.ToString("F")" onkeyup="formataValor(this, event)" class="form-control" />
        }
        else
        {
            <input type="text" id="taxaEntrega" name="TaxaEntrega" onkeyup="formataValor(this, event)" class="form-control" />
        }


    </div>
</div>

<div class="col-md-12">
    <div class="form-group">
        <label for="ativo">parceiro ativo? </label>
            @Html.CheckBox("Ativo", true)
    </div>
</div>





<div class="col-md-12">
    <div class="form-group">
        @if (ViewBag.MensagemParceiro != null)
        {
            <p class="vermelho-marmitex">@ViewBag.MensagemParceiro</p>
        }

        @if (ViewBag.MensagemEditarParceiro != null)
        {
            <p class="vermelho-marmitex">@ViewBag.MensagemEditarParceiro</p>
        }
    </div>
</div>