@model ClassesMarmitex.Produto

<div class="col-md-12">
    <div class="form-group">
        <p class="vermelho-marmitex">@Html.ValidationMessage("Nome")</p>
        <label for="nome">nome produto *</label>

        @if (Model != null)
            {
            <input type="hidden" name="id" value="@Model.Id" />
            <input type="text" id="nome" name="Nome" value="@Model.Nome" class="form-control" required />
        }
        else
        {
            <input type="text" id="nome" name="Nome" class="form-control" required />
        }


    </div>
</div>
<div class="col-md-12">
    <div class="form-group">
        <p class="vermelho-marmitex">@Html.ValidationMessage("Descricao")</p>
        <label for="descricao">descrição *</label>

        @if (Model != null)
            {
            <input type="text" id="descricao" name="Descricao" value="@Model.Descricao" class="form-control" required />
        }
        else
        {
            <input type="text" id="descricao" name="Descricao" class="form-control" required />
        }


    </div>
</div>
<div class="col-md-12">
    <div class="form-group">
        <label for="cardapioProduto">cardápio *</label>

        <select class="form-control" name="IdMenuCardapio" required>
            <option value="0" selected>escolher cardápio...</option>

            @if (ViewBag.MenuCardapio != null)
            {
                foreach (ClassesMarmitex.MenuCardapio cardapio in ViewBag.MenuCardapio)
                {
                    if (Model != null)
                    {
                        if (Model.IdMenuCardapio == cardapio.Id)
                        {
                            <option value="@cardapio.Id" selected>@cardapio.Nome</option>
                        }
                        else
                        {
                            <option value="@cardapio.Id">@cardapio.Nome</option>
                        }
                    }
                    else
                    {
                        <option value="@cardapio.Id">@cardapio.Nome</option>
                    }
                }
            }
        </select>

    </div>
</div>

<div class="col-md-12">
    <div class="form-group">
        <label for="cardapioProduto">dias de venda *</label>
        <small>segure o botão "ctrl" para selecionar vários dias</small>
        @if(ViewBag.ListaDiasSemana != null)
        {
            @Html.ListBoxFor(p => p.ProdutoDiasVenda, new SelectList(ViewBag.ListaDiasSemana, "Id", "DiaSemana"), htmlAttributes: new { @class = "form-control" })
        }
        
    </div>
</div>

<div class="col-md-12">
    <div class="form-group">
        <p class="vermelho-marmitex">@Html.ValidationMessage("Valor")</p>
        <label for="valor">R$ preço *</label>

        @if (Model != null)
            {
            <input type="text" id="valor" name="Valor" value="@Model.Valor" class="form-control" onkeyup="formataValor(this, event)" required />
        }
        else
        {
            <input type="text" id="valor" name="Valor" class="form-control" onkeyup="formataValor(this, event)" required />
        }


    </div>
</div>
<div class="col-md-12">
    <div class="form-group">
        <p class="vermelho-marmitex">@Html.ValidationMessage("Imagem")</p>
        <label for="file">imagem do produto *</label>

        @if (Model != null)
            {
            <input type="file" name="file" id="file" value="@Model.Imagem" required />
        }
        else
        {
            <input type="file" name="file" id="file" onclick="ValidarImagem()" required />
        }

    </div>
</div>
<div class="col-md-12">
    <div class="form-group">
        <div class="checkbox">
            <label>
                @Html.CheckBox("Ativo", true)
                produto ativo?
            </label>
        </div>
    </div>
</div>


<div class="col-md-12">
    <div class="form-group">
        @if (ViewBag.MensagemCadProduto != null)
            {
            <p class="vermelho-marmitex">@ViewBag.MensagemCadProduto</p>
        }
    </div>
</div>



<div class="col-md-12">
    <div class="form-group">
        @if (ViewBag.MensagemCadProduto != null)
            {
            <p class="vermelho-marmitex">@ViewBag.MensagemCadProduto</p>
        }

        @if (ViewBag.MensagemEditarProduto != null)
            {
            <p class="vermelho-marmitex">@ViewBag.MensagemEditarProduto</p>
        }
    </div>
</div>