@model ClassesMarmitex.FormaDePagamento

<div class="col-md-12">
    <div class="form-group">
        <label for="nome">nome *</label>

        @if (Model != null)
        {
            <input type="hidden" name="id" value="@Model.Id" />
            <input type="text" id="nome" name="Nome" value="@Model.Nome" class="form-control" />
        }
        else
        {
            <input type="text" id="nome" name="Nome" class="form-control" />
        }

    </div>
</div>

<div class="col-md-12">
    <div class="form-group">
        <div class="checkbox">
            <label>
                @Html.CheckBox("Ativo", true)
                forma de pagamento ativa?
            </label>
        </div>
    </div>
</div>



<div class="col-md-12">
    <div class="form-group">
        @if (ViewBag.MensagemCadFormaPagamento != null)
            {
            <p class="vermelho-marmitex">@ViewBag.MensagemCadFormaPagamento</p>
        }

        @if (ViewBag.MensagemEditarFormaPagamento != null)
        {
            <p class="vermelho-marmitex">@ViewBag.MensagemEditarFormaPagamento</p>
        }
    </div>
</div>