@model ClassesMarmitex.Brinde

@{
    ViewBag.Title = "Brinde";
}

<div class="col-md-12">
    <div class="form-group">
        <p class="vermelho-marmitex">@Html.ValidationMessage("Nome")</p>
        <label for="nome">nome brinde *</label>

        @if (Model != null)
        {
            <input type="hidden" name="id" value="@Model.Id" />

            <input type="text" id="nome" name="Nome" value="@Model.Nome" class="form-control" required/>
        }
        else
        {
            <input type="text" id="nome" name="Nome" class="form-control" required/>
        }


    </div>
</div>
<div class="col-md-12">
    <div class="form-group">
        <p class="vermelho-marmitex">@Html.ValidationMessage("Descricao")</p>
        <label for="descricao">descrição *</label>

        @if (Model != null)
        {
            <input type="text" id="descricao" name="Descricao" value="@Model.Descricao" class="form-control" placeholder="Exemplo: Cliente J.A ganha uma coca-cola a cada prato comprado"/>
        }
        else
        {
            <input type="text" id="descricao" name="Descricao" class="form-control" placeholder="Exemplo: Cliente J.A ganha uma coca-cola a cada prato comprado"/>
        }


    </div>
</div>
<div class="col-md-12">
    <div class="form-group">

        <label for="file">imagem do brinde * <br /> <small>(tamanho máximo: 10 megabytes)</small> </label>

        @if (Model != null)
        {
            <input type="file" name="file" id="file" value="@Model.Imagem" required/>
        }
        else
        {
            <input type="file" name="file" id="file" onclick="ValidarImagem()" required/>
        }

    </div>
</div>
<div class="col-md-12">
    <div class="form-group">
        <div class="checkbox">
            <label>
                @Html.CheckBox("Ativo", true)
                brinde ativo?
            </label>
        </div>
    </div>
</div>


<div class="col-md-12">
    <div class="form-group">
        @if (ViewBag.MensagemErroCadBrinde != null)
            {
            <p class="vermelho-marmitex">@ViewBag.MensagemErroCadBrinde</p>
        }

        @if (ViewBag.MensagemEditarBrinde != null)
        {
            <p class="vermelho-marmitex">@ViewBag.MensagemEditarBrinde</p>
        }
    </div>
</div>