<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Marmitex.Me</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/simple-sidebar.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menuResponsivo">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="@Session["urlBase"]/Home" class="navbar-brand">GetFood</a>
            </div>
            <div class="collapse navbar-collapse" id="menuResponsivo">
                <ul class="nav navbar-nav navbar-right">

                    <li class="dropdown" style="margin-right: 10px">
                        @{ if (Session["usuarioLogado"] == null)
                            {
                                <a class="dropdown-toggle" data-toggle="dropdown">
                                    meu perfil <span class="glyphicon glyphicon-user"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="~/Login">entrar</a></li>
                                </ul>
                            }
                            else
                            {
                                ClassesMarmitex.Usuario usuarioLogado = (ClassesMarmitex.Usuario)Session["usuarioLogado"];

                                <a class="dropdown-toggle" data-toggle="dropdown">
                                    Olá @usuarioLogado.Nome <span class="glyphicon glyphicon-user"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">meus dados</a></li>
                                    <li><a href="#">histórico de pedidos</a></li>
                                    <li><a href="#">quanto economizei</a></li>
                                    <li><a href="#" style="color:#bc2026">benefícios e promoções</a></li>
                                    <li><a href="#" onclick="Redirecionar(@string.Format("'{0}', '{1}'", @Session["urlBase"], "/Login/Deslogar"))">sair</a></li>
                                </ul>
                            }
                        }
                    </li>

                </ul>
            </div>
        </nav>
    </div>

    <div class="container body-content">
        <div>
            @RenderBody()
        </div>
        <footer></footer>
    </div>

    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/marmitex.js"></script>
</body>
</html>