<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @{ if (Session["usuarioLogado"] != null)
        {
            ClassesMarmitex.UsuarioLoja usuarioLogado = (ClassesMarmitex.UsuarioLoja)Session["usuarioLogado"];
            <title>@ViewBag.Title - @usuarioLogado.NomeLoja</title>
        }
        else
        {
            <title>@ViewBag.Title</title>
        }
    }
    <link rel="shortcut icon" type="image/png" href="/favicon.png" />
    <link rel="shortcut icon" type="image/png" href="http://eg.com/favicon.png" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/simple-sidebar.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/sidebar.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Oswald:500" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <script src="~/Scripts/marmitex-admin.js"></script>

    <script src="https://cdn.jsdelivr.net/sweetalert2/6.6.0/sweetalert2.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/sweetalert2/6.6.0/sweetalert2.css">

</head>
<body>
    <div class="container-fluid">
        <nav class="navbar navbar-default-tasaindo" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menuResponsivo">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="@Session["urlBase"]/Home" class="navbar-brand">TáSaindo</a>
            </div>
            <div class="collapse navbar-collapse" id="menuResponsivo">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#" onclick="Redirecionar(@string.Format("'{0}', '{1}'", @Session["urlBase"], "/Login/Deslogar"))">sair</a></li>
                </ul>
            </div>
        </nav>
    </div>

    <div class="container-fluid body-content">
        <div class="row profile">
            <div class="col-md-3">
                <nav class="navbar navbar-default" role="navigation">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menuConfiguracoes">
                            <span class="sr-only">Menu</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>

                    <div class="profile-sidebar">

                        <div class="profile-userpic">
                            @if (Session["usuarioLogado"] != null)
                            {
                                ClassesMarmitex.UsuarioLoja usuarioLogado = (ClassesMarmitex.UsuarioLoja)Session["usuarioLogado"];
                                <img src="~/Images/@usuarioLogado.UrlLoja/@usuarioLogado.Imagem" class="img-responsive" alt="logo">
                            }
                        </div>
                        <div class="profile-usertitle">
                            <div class="profile-usertitle-name">
                                @{ if (Session["usuarioLogado"] != null)
                                    {
                                        ClassesMarmitex.UsuarioLoja usuarioLogado = (ClassesMarmitex.UsuarioLoja)Session["usuarioLogado"];
                                        <h2>@usuarioLogado.NomeLoja</h2>
                                    }
                                    else
                                    {
                                        <h2></h2>
                                    }
                                }
                            </div>
                        </div>

                        <div class="collapse navbar-collapse" id="menuConfiguracoes">

                            <div class="profile-usermenu">
                                <ul class="nav">
                                    @{ if (Session["usuarioLogado"] != null)
                                        {
                                            ClassesMarmitex.UsuarioLoja usuarioLogado = (ClassesMarmitex.UsuarioLoja)Session["usuarioLogado"];

                                            if (usuarioLogado.NivelPermissao == 2)
                                            {
                                                <li>
                                                    <a href="/Pedido/Index">
                                                        <i class="fa fa-star"></i>
                                                        Pedidos
                                                    </a>
                                                </li>
                                            }
                                            else
                                            {
                                                <li>
                                                    <a href="/Home/Index">
                                                        <i class="fa fa-bar-chart"></i>
                                                        Dashboard
                                                    </a>
                                                </li>
                                                    <li>
                                                        <a href="/Pedido/Index">
                                                            <i class="fa fa-star"></i>
                                                            Pedidos
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="/Parceiro/Index">
                                                            <i class="fa fa-handshake-o fa-lg"></i>
                                                            Parceiros
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="/Brinde/Index" @*class="sub-menu"*@>
                                                            <i class="fa fa-gift" aria-hidden="true"></i>
                                                            Brindes
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="/Cardapio/Index">
                                                            <i class="fa fa-cutlery"></i>
                                                            Categorias de produtos
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="/Produto/Index" @*class="sub-menu"*@>
                                                            <i class="fa fa-shopping-cart"></i>
                                                            Produtos
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="/ProdutoAdicional/Index" @*class="sub-menu"*@>
                                                            <i class="fa fa-lemon-o"></i>
                                                            Produtos Adicionais
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="/HorarioEntrega/Index">
                                                            <i class="fa fa-clock-o"></i>
                                                            Horários de entrega
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="/FormaPagamento/Index">
                                                            <i class="fa fa-credit-card"></i>
                                                            Formas de pagamento
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="/Usuario/Index">
                                                            <i class="fa fa-users" aria-hidden="true"></i>
                                                            Usuários
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <i class="fa fa-line-chart"></i>
                                                            Relatórios
                                                        </a>
                                                    </li>
                                            }

                                        }
                                    }


                                </ul>
                            </div>
                        </div>
                    </div>
                </nav>

            </div>
            <div class="col-md-9">
                @RenderBody()
            </div>
        </div>
    </div>




    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>


</body>
</html>