@model List<ClassesMarmitex.MenuCardapio>

<h1 class="text-left">Produtos</h1>

<div class="text-right">
    <a href="/Produto/Adicionar" class="btn btn-success">adicionar produto</a>
</div>
<hr />

<div class="col-md-12">
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>nome</th>
                    <th>descrição</th>
                    <th>cardápio</th>
                    <th>R$ preço</th>
                    <th>imagem</th>
                    <th>ações</th>
                </tr>
            </thead>
            <tbody>
                
                    @foreach (var cardapio in Model)
                    {
                        foreach (var produto in cardapio.Produtos)
                        {
                            <tr>
                                <th scope="row">@produto.Id</th>
                                <td><a href="@Session["urlBase"]/Produto/Detalhes/@produto.Id">@produto.Nome</a></td>
                                <td>@produto.Descricao</td>
                                <td>@cardapio.Nome</td>
                                <td>@produto.Valor</td>
                                <td><img src="@produto.Imagem" class="img-responsive" alt="produto"></td>
                                <td>
                                    <a href="#" style="color: #1a9c21"><i class="glyphicon glyphicon-edit"></i></a>
                                    <a href="#" style="color: #bc2026"><i class="glyphicon glyphicon-remove"></i></a>
                                </td>
                            </tr>
                        }
                    }
                            
            </tbody>
        </table>
    </div>
</div>