@model List<ClassesMarmitex.DadosProdutoAdicional>

<h1 class="text-left">Produtos adicionais</h1>

<ul class="breadcrumb">
    <li>
        <i class="fa fa-globe"></i>
        <a href="@Session["urlBase"]/Home">Inicio</a>
    </li>
    <li>
        <i class="fa fa-glass"></i>
        <a href="@Session["urlBase"]/ProdutoAdicional/">Produtos Adicionais</a>
    </li>
</ul>

<div class="text-right">
    <a href="/ProdutoAdicional/Adicionar" class="btn btn-success">adicionar produto adicional</a>
</div>
<hr />

<div class="col-md-12">
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>nome</th>
                    <th>descrição</th>
                    <th>ações</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var prodAdicional in Model)
                {
                    <tr>

                        <td>
                            <a href="@Session["urlBase"]/ProdutoAdicional/Detalhes/@prodAdicional.Id" title="ver detalhes">
                                @prodAdicional.Nome
                            </a>
                        </td>
                        <td>@prodAdicional.Descricao</td>
                        <td>
                            <a href="@Session["urlBase"]/ProdutoAdicional/Editar/@prodAdicional.Id" style="color: #1a9c21"><i class="glyphicon glyphicon-edit"></i></a>
                            <a href="@Session["urlBase"]/ProdutoAdicional/Excluir/@prodAdicional.Id" style="color: #bc2026"><i class="glyphicon glyphicon-remove"></i></a>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>