@model List<ClassesMarmitex.DadosProdutoAdicional>

@{
    ViewBag.Title = "Produto adicional";
}

<h1 class="text-left">Produtos adicionais</h1>

<ul class="breadcrumb">
    <li>
        <a href="@Session["urlBase"]/Home">Inicio</a>
    </li>
    <li>
        <a href="@Session["urlBase"]/ProdutoAdicional/">Produtos adicionais</a>
    </li>
</ul>

<div class="text-right">
    <a href="/ProdutoAdicional/Adicionar" class="btn btn-success">adicionar produto adicional</a>
</div>
<hr />

<div class="col-md-12">
    @if (Model != null)
    {
        if (ViewBag.MensagemProdutoAdicional != null)
        {
            <div class="text-center">
                <p>@ViewBag.MensagemProdutoAdicional</p>
            </div>
        }
        else
        {
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>nome</th>
                            <th>descrição</th>
                            <th>ativo</th>
                            <th>ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null)
                        {
                            foreach (var prodAdicional in Model)
                            {
                                if (prodAdicional.Ativo)
                                {
                        <tr class="table-mmt">
                            <td>
                                <a href="@Session["urlBase"]/ProdutoAdicional/Detalhes/@prodAdicional.Id" title="ver detalhes">
                                    @prodAdicional.Nome
                                </a>
                            </td>
                            <td>@prodAdicional.Descricao</td>
                            <td>@(prodAdicional.Ativo == true ? "Sim" : "Não")</td>
                            <td>
                                <button class="btn-link" style="color: #1a9c21" onclick="IrParaUrl('@Session["urlBase"]/ProdutoAdicional/Editar/@prodAdicional.Id')" title="Editar"><i class="glyphicon glyphicon-edit"></i></button>
                                <button class="btn-link" style="color: #E67E22" onclick="Get('@Session["urlBase"]/ProdutoAdicional/Desativar/@prodAdicional.Id')" title="Desativar"><i class="glyphicon glyphicon-off"></i></button>
                                <button class="btn-link" style="color: #bc2026" onclick="Excluir('@Session["urlBase"]/ProdutoAdicional/Excluir/@prodAdicional.Id')" title="Excluir"><i class="glyphicon glyphicon-remove"></i></button>
                            </td>
                        </tr>
                                }
                                else
                                {
                        <tr class="danger table-mmt">
                            <td>
                                <a href="@Session["urlBase"]/ProdutoAdicional/Detalhes/@prodAdicional.Id" title="ver detalhes">
                                    @prodAdicional.Nome
                                </a>
                            </td>
                            <td>@prodAdicional.Descricao</td>
                            <td>@(prodAdicional.Ativo == true ? "Sim" : "Não")</td>
                            <td>
                                <button class="btn-link" style="color: #1a9c21" onclick="IrParaUrl('@Session["urlBase"]/ProdutoAdicional/Editar/@prodAdicional.Id')" title="Editar"><i class="glyphicon glyphicon-edit"></i></button>
                                <button class="btn-link" style="color: #E67E22" onclick="Get('@Session["urlBase"]/ProdutoAdicional/Desativar/@prodAdicional.Id')" title="Desativar"><i class="glyphicon glyphicon-off"></i></button>
                                <button class="btn-link" style="color: #bc2026" onclick="Excluir('@Session["urlBase"]/ProdutoAdicional/Excluir/@prodAdicional.Id')" title="Excluir"><i class="glyphicon glyphicon-remove"></i></button>
                            </td>
                        </tr>
                                }
                            }
                        }
                    </tbody>
                </table>
            </div>
        }
    }
</div>