@model ClassesMarmitex.Dashboard

<div class="profile-content-backfull">
    <h1 class="text-center text-uppercase">Dashboard</h1>

    @if (ViewBag.MensagemDashboard != null)
    {
        <div class="text-center">
            <p>@ViewBag.MensagemDashboard</p>
        </div>
    }
    else
    {
        <div class="col-md-3">
            <div class="box-dashboard">
                <div class="box-dashboard-item">
                    <h3 title="quantidade de pedidos realizados hoje">@Model.Pedidos</h3>
                    <p title="quantidade de pedidos realizados hoje">pedidos</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="box-dashboard">
                <div class="box-dashboard-item">
                    <h3 title="valor total das vendas de hoje">R$ @Model.Vendas.ToString("F")</h3>
                    <p title="valor total das vendas de hoje">vendas</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="box-dashboard">
                <div class="box-dashboard-item">
                    <h3 title="quantidade de visitas ao site hoje">@Model.Visitas</h3>
                    <p title="quantidade de visitas ao site hoje">visitas</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="box-dashboard">
                <div class="box-dashboard-item">
                    <h3 title="quantidade de parceiros diferentes que visitaram o site hoje">@Model.Parceiros</h3>
                    <p title="quantidade de parceiros diferentes que visitaram o site hoje">parceiros</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="box-dashboard">
                <div class="box-dashboard-item">
                    <h3 title="quantidade de pedidos atrasados hoje">@Model.PedidosAtrasados</h3>
                    <p title="quantidade de pedidos atrasados hoje">pedidos atrasados</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="box-dashboard">
                <div class="box-dashboard-item">
                    <h3 title="quantidade de pedidos que estão na fila para entrega hoje">@Model.PedidosFila</h3>
                    <p title="quantidade de pedidos que estão na fila para entrega hoje">pedidos na fila</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="box-dashboard">
                <div class="box-dashboard-item">
                    <h3 title="quantidade de pedidos entregues hoje">@Model.PedidosEntregues</h3>
                    <p title="quantidade de pedidos entregues hoje">pedidos entregues</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="box-dashboard">
                <div class="box-dashboard-item">
                    <h3 title="quantidade de pedidos cancelados hoje">@Model.PediosCancelados</h3>
                    <p title="quantidade de pedidos cancelados hoje">pedidos cancelados</p>
                </div>
            </div>
        </div>
    }
</div>