@model ClassesMarmitex.DadosProdutoAdicional

<div class="profile-content-backfull">
    <row>
        @if (ViewBag.MensagemDetalhesProdutoAdicional != null)
        {
            <script>
                swal({
                    title: 'Oops',
                    html: "@ViewBag.MensagemDetalhesProdutoAdicional",
                    type: 'error',
                    confirmButtonText: 'Ok'
                }).then(function () {
                    //volta para a tela de parceiros
                    window.location = "@Session["urlBase"]/Parceiro/";
                    });
            </script>
        }
        else
        {
            if (Model != null)
            {
                <h1 class="text-left">@Model.Nome</h1>

                <ul class="breadcrumb">
                    <li>
                        <i class="fa fa-globe"></i>
                        <a href="@Session["urlBase"]/Home">Inicio</a>
                    </li>
                    <li>
                        <i class="fa fa-glass"></i>
                        <a href="@Session["urlBase"]/ProdutoAdicional/">Produtos Adicionais</a>
                    </li>
                    <li>
                        <i class="fa fa-bars"></i>
                        <a href="@Session["urlBase"]/ProdutoAdicional/Detalhes/@Model.Id">Detalhes</a>
                    </li>
                </ul>

                <div class="text-right">
                    <a href="@Session["urlBase"]/ProdutoAdicional/AdicionarItem/@Model.Id" class="btn btn-success">adicionar item</a>
                </div>
                <hr />

                <div class="col-md-12">
                    <h2>Itens do produto adicional</h2>
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>nome</th>
                                    <th>descrição</th>
                                    <th>R$ valor</th>
                                    <th>ativo</th>
                                    <th>ações</th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var itemAdicional in Model.ItensAdicionais)
                                {
                                    if (itemAdicional.Ativo)
                                    {
                                        <tr>
                                            <td>@itemAdicional.Nome</td>
                                            <td>@itemAdicional.Descricao</td>
                                            <td>@itemAdicional.Valor</td>
                                            <td>@(itemAdicional.Ativo == true ? "Sim" : "Não")</td>

                                            <td>
                                                <a href="@Session["urlBase"]/ProdutoAdicional/EditarItem/@itemAdicional.Id" style="color: #1a9c21"><i class="glyphicon glyphicon-edit"></i></a>
                                                <a href="@Session["urlBase"]/ProdutoAdicional/DesativarItem/@itemAdicional.Id" style="color: #E67E22"><i class="glyphicon glyphicon-off" title="Desativar"></i></a>
                                                <a href="@Session["urlBase"]/ProdutoAdicional/ExcluirItem/@itemAdicional.Id" style="color: #bc2026"><i class="glyphicon glyphicon-remove"></i></a>
                                            </td>
                                        </tr>
                                    }
                                    else
                                    {
                                        <tr class="danger">
                                            <td>@itemAdicional.Nome</td>
                                            <td>@itemAdicional.Descricao</td>
                                            <td>@itemAdicional.Valor</td>
                                            <td>@(itemAdicional.Ativo == true ? "Sim" : "Não")</td>

                                            <td>
                                                <a href="@Session["urlBase"]/ProdutoAdicional/EditarItem/@itemAdicional.Id" style="color: #1a9c21"><i class="glyphicon glyphicon-edit"></i></a>
                                                <a href="@Session["urlBase"]/ProdutoAdicional/DesativarItem/@itemAdicional.Id" style="color: #E67E22"><i class="glyphicon glyphicon-off" title="Desativar"></i></a>
                                                <a href="@Session["urlBase"]/ProdutoAdicional/ExcluirItem/@itemAdicional.Id" style="color: #bc2026"><i class="glyphicon glyphicon-remove"></i></a>
                                            </td>
                                        </tr>
                                    }
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            }
        }
    </row>
</div>