@model IList<ClassesMarmitex.Pedido>

<head>
    <meta http-equiv="refresh" content="60">
</head>

<script>


</script>

<div class="profile-content-backfull">
    @if (Model != null)
    {
        <div class="col-md-12">
            <h1 class="text-left">Pedidos</h1>
            <hr />
            <div class="col-md-3">
                <div class="board-pedido" ondrop="dropFila(event)" ondragover="allowDrop(event)">
                    <h3 class="text-uppercase">
                        Na fila
                    </h3>

                    @foreach (var pedido in Model.Where(p => p.PedidoStatus.IdStatus == 0))
                    {
                        <div id="drag/@pedido.Id" class="board-pedido-item" draggable="true" ondragstart="drag(event)">
                            <a href="drag/@pedido.Id" data-toggle="modal" data-target="#modalPedido_@pedido.Id">
                                <p>
                                    <strong>Hr de entrega:</strong> às @pedido.DataEntrega.ToString("HH:mm") hrs
                                    <br />
                                    <strong>Cliente:</strong> @pedido.Cliente.Nome
                                    <br />
                                    <strong>Parceiro:</strong> @pedido.Parceiro.Nome
                                    <br />
                                    <strong>ID Pedido:</strong> @pedido.Id
                                </p>
                            </a>
                        </div>
                    }

                </div>
            </div>

            <div class="col-md-3">
                <div class="board-pedido" ondrop="dropAndamento(event)" ondragover="allowDrop(event)">
                    <h3 class="text-uppercase">
                        Em andamento
                    </h3>

                    @foreach (var pedido in Model.Where(p => p.PedidoStatus.IdStatus == 1))
                    {
                        <div id="drag/@pedido.Id" class="board-pedido-item" draggable="true" ondragstart="drag(event)">
                            <a href="drag/@pedido.Id" data-toggle="modal" data-target="#modalPedido_@pedido.Id">
                                <strong>Hr de entrega:</strong> às @pedido.DataEntrega.ToString("HH:mm") hrs
                                <br />
                                <strong>Cliente:</strong> @pedido.Cliente.Nome
                                <br />
                                <strong>Parceiro:</strong> @pedido.Parceiro.Nome
                                <br />
                                <strong>ID Pedido:</strong> @pedido.Id
                            </a>
                            <p></p>
                        </div>
                    }

                </div>
            </div>

            <div class="col-md-3">
                <div class="board-pedido" ondrop="dropEntregue(event)" ondragover="allowDrop(event)">
                    <h3 class="text-uppercase">
                        Entregue
                    </h3>

                    @foreach (var pedido in Model.Where(p => p.PedidoStatus.IdStatus == 2))
                    {
                        <div id="drag/@pedido.Id" class="board-pedido-item" draggable="true" ondragstart="drag(event)">
                            <a href="drag/@pedido.Id" data-toggle="modal" data-target="#modalPedido_@pedido.Id">
                                <strong>Hr de entrega:</strong> às @pedido.DataEntrega.ToString("HH:mm") hrs
                                <br />
                                <strong>Cliente:</strong> @pedido.Cliente.Nome
                                <br />
                                <strong>Parceiro:</strong> @pedido.Parceiro.Nome
                                <br />
                                <strong>ID Pedido:</strong> @pedido.Id
                            </a>
                            <p></p>
                        </div>
                    }

                </div>
            </div>

            <div class="col-md-3">
                <div class="board-pedido" ondrop="dropCancelado(event, this)" ondragover="allowDrop(event)">
                    <h3 class="text-uppercase">
                        Cancelado
                    </h3>

                    @foreach (var pedido in Model.Where(p => p.PedidoStatus.IdStatus == 3))
                    {
                        <div id="drag/@pedido.Id" class="board-pedido-item" draggable="true" ondragstart="drag(event)">
                            <a href="drag/@pedido.Id" data-toggle="modal" data-target="#modalPedido_@pedido.Id">
                                <strong>Hr de entrega:</strong> às @pedido.DataEntrega.ToString("HH:mm") hrs
                                <br />
                                <strong>Cliente:</strong> @pedido.Cliente.Nome
                                <br />
                                <strong>Parceiro:</strong> @pedido.Parceiro.Nome
                                <br />
                                <strong>ID Pedido:</strong> @pedido.Id
                            </a>
                            <p></p>
                        </div>
                    }

                </div>
            </div>
        </div>


        <div>
            @foreach (var pedido in Model)
            {
                <div class="modal fade" id="modalPedido_@pedido.Id" role="dialog">
                    <div class="modal-dialog modal-md">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h3 class="modal-title">Pedido</h3>
                            </div>
                            <div class="col-md-12 col-md-offset-1">
                                <div class="modal-body">
                                    <div class="col-md-11">
                                        <h4>Cliente</h4>
                                        <p>
                                            @pedido.Cliente.Nome
                                            <br />
                                            @pedido.Cliente.NumeroCelular
                                            <br />
                                            <strong>Dica de localização: </strong>@pedido.Cliente.DicaDeLocalizacao
                                        </p>
                                    </div>

                                    @if (pedido.PedidoStatus.IdStatus == 3)
                                    {

                                        <div class="col-md-11">
                                            <h4>Status do pedido</h4>
                                            <p>
                                                Cancelado
                                                <br />
                                                <strong>Motivo: </strong>@pedido.PedidoStatus.MotivoCancelamento
                                            </p>
                                        </div>
                                    }



                                    <div class="col-md-11">
                                        <h4>Parceiro</h4>
                                        <p>
                                            @pedido.Parceiro.Nome
                                            <br />
                                            @pedido.Parceiro.Endereco.Logradouro, @pedido.Parceiro.Endereco.NumeroEndereco - @pedido.Parceiro.Endereco.Bairro,
                                            @pedido.Parceiro.Endereco.Cidade, @pedido.Parceiro.Endereco.UF - CEP: @pedido.Parceiro.Endereco.Cep
                                            <br />
                                            @pedido.Parceiro.Endereco.ComplementoEndereco
                                        </p>
                                    </div>

                                    <div class="col-md-11">
                                        <h4>Pedido</h4>
                                        @foreach (var p in pedido.ListaProdutos)
                                        {
                                            //se o produto tiver itens adicionais
                                            if (p.Produto.DadosAdicionaisProdutos.Sum(adicional => adicional.ItensAdicionais.Sum(item => item.Qtd)) > 0)
                                            {
                                                <div class="col-md-11 border-pedido-mmt">
                                                    <p><span class="badge">1</span> @p.Produto.Nome R$@p.ValorTotal.ToString("F")</p>
                                                    @foreach (var adicional in p.Produto.DadosAdicionaisProdutos)
                                                    {
                                                        <p class="vermelho-marmitex">@adicional.Nome</p>
                                                        if (adicional.ItensAdicionais.Sum(k => k.Qtd) == 0)
                                                        {
                                                            <p style="margin-left: 2em;">nenhum</p>
                                                            <br />
                                                        }
                                                        else
                                                        {
                                                            foreach (var item in adicional.ItensAdicionais)
                                                            {
                                                                if (item.Qtd > 0)
                                                                {
                                                                    <p style="margin-left: 2em;"><span class="badge">@item.Qtd</span> @item.Nome </p>
                                                                }
                                                            }
                                                        }
                                                    }
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="col-md-11 border-pedido-mmt">
                                                    <p><span class="badge">@p.Quantidade</span> @p.Produto.Nome R$ @p.ValorTotal.ToString("F")</p>
                                                </div>
                                            }
                                        }
                                    </div>

                                    <div class="col-md-11">
                                        <h4>Horário de entrega</h4>
                                        <p>às @pedido.DataEntrega.ToString("HH:mm") hrs</p>
                                    </div>

                                    <div class="col-md-11">
                                        <h4>Forma de pagamento</h4>
                                        @foreach (var pagamento in pedido.ListaFormaPagamento)
                                        {
                                            <p>@pagamento.Nome</p>
                                        }

                                        @if (Convert.ToDecimal(pedido.Troco) > 0)
                                        {
                                            <p>R$ @pedido.Troco.ToString("F") de troco</p>
                                        }

                                        <h4>Valor total do pedido</h4>
                                        <p>R$ @pedido.ValorTotalPedido.ToString("F")</p>

                                        @if (!string.IsNullOrEmpty(pedido.Observacao))
                                        {
                                            <h4>Observação</h4>
                                            <p>@pedido.Observacao</p>
                                        }

                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                            </div>

                        </div>
                    </div>
                </div>
            }
        </div>
    }
    else
    {
        <div class="col-md-12 text-center">
            <h3>@ViewBag.MensagemPedidos</h3>
        </div>
    }
</div>
