@model IList<ClassesMarmitex.Pedido>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="profile-content-backfull">
    @if (Model != null)
    {
        <div class="col-md-12">
            <h1 class="text-left">Pedidos</h1>
            <hr />
            <div class="col-md-4">
                <div class="board-pedido">
                    <h3 class="text-uppercase">
                        Na fila
                    </h3>

                    @foreach (var pedido in Model.Where(p => p.IdStatusPedido == 0))
                    {
                        <div class="board-pedido-item">
                            <a href="#" data-toggle="modal" data-target="#modalPedido_@pedido.Id">
                                <p>@pedido.Cliente.Nome</p>
                                <p>para às @pedido.DataEntrega.Hour : @pedido.DataEntrega.Minute hrs</p>
                                <p>@pedido.Parceiro.Nome</p>
                            </a>
                        </div>
                    }

                </div>
            </div>
            <div class="col-md-4">
                <div class="board-pedido">
                    <h3 class="text-uppercase">
                        Em andamento
                    </h3>

                    @foreach (var pedido in Model.Where(p => p.IdStatusPedido == 1))
                    {
                        <div class="board-pedido-item">
                            <a href="#" data-toggle="modal" data-target="#modalPedido_@pedido.Id">
                                <p>@pedido.Cliente.Nome</p>
                                <p>para às @pedido.DataEntrega.Hour : @pedido.DataEntrega.Minute hrs</p>
                                <p>@pedido.Parceiro.Nome</p>
                            </a>
                        </div>
                    }

                </div>
            </div>

            <div class="col-md-4">
                <div class="board-pedido">
                    <h3 class="text-uppercase">
                        Entregue
                    </h3>

                    @foreach (var pedido in Model.Where(p => p.IdStatusPedido == 2))
                    {
                        <div class="board-pedido-item">
                            <a href="#" data-toggle="modal" data-target="#modalPedido_@pedido.Id">
                                <p>@pedido.Cliente.Nome</p>
                                <p>para às @pedido.DataEntrega.Hour : @pedido.DataEntrega.Minute hrs</p>
                                <p>@pedido.Parceiro.Nome</p>
                            </a>
                        </div>
                    }

                </div>
            </div>

        </div>


        <div>
            @foreach (var pedido in Model)
            {
                <div class="modal fade" id="modalPedido_@pedido.Id" role="dialog">
                    <div class="modal-dialog modal-md">
                        <div class="modal-content text-center">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h3 class="modal-title">Pedido</h3>
                            </div>
                            <div class="modal-body">
                                <h4>Cliente</h4>
                                <p>@pedido.Cliente.Nome</p>

                                <br />
                                <h4>Parceiro</h4>
                                <p>
                                    @pedido.Parceiro.Nome
                                    <br />
                                    @pedido.Parceiro.Endereco.Logradouro, @pedido.Parceiro.Endereco.NumeroEndereco - @pedido.Parceiro.Endereco.Bairro,
                                    @pedido.Parceiro.Endereco.Cidade, @pedido.Parceiro.Endereco.UF - CEP: @pedido.Parceiro.Endereco.Cep
                                    <br />
                                    @pedido.Parceiro.Endereco.ComplementoEndereco
                                </p>


                                <br />

                                <h4>Pedido</h4>
                                @foreach (var p in pedido.ListaProdutos)
                                {
                                    //se o produto tiver itens adicionais
                                    if (p.Produto.DadosAdicionaisProdutos.Sum(adicional => adicional.ItensAdicionais.Sum(item => item.Qtd)) > 0)
                                    {
                                        <p>@p.Produto.Nome R$@p.ValorTotal</p>
                                        foreach (var adicional in p.Produto.DadosAdicionaisProdutos)
                                        {
                                            <p class="vermelho-marmitex">@adicional.Nome</p>
                                            if (adicional.ItensAdicionais.Sum(k => k.Qtd) == 0)
                                            {
                                                <small>nenhum</small>
                                                <br />
                                            }
                                            else
                                            {
                                                foreach (var item in adicional.ItensAdicionais)
                                                {
                                                    if (item.Qtd > 0)
                                                    {
                                                        <small>@item.Nome @item.Qtd</small><br />
                                                    }
                                                }
                                            }
                                            <br />
                                        }

                                    }
                                    else
                                    {
                                        //exibe os produtos e a quantidade
                                        <p>@p.Quantidade @p.Produto.Nome R$ @p.ValorTotal</p>
                                    }
                                }

                                <br />

                                <h4>Horário de entrega</h4>
                                <p>às @pedido.DataEntrega.Hour:@pedido.DataEntrega.Minute hrs</p>

                                <br />

                                <h4>Forma de pagamento</h4>
                                @foreach (var pagamento in pedido.ListaFormaPagamento)
                                {
                                    <p>@pagamento.Nome</p>

                                    if (Convert.ToDecimal(pedido.Troco) > 0)
                                    {
                                        <p>R$ @pedido.Troco de troco</p>
                                    }
                                }

                                <br />

                                @if (!string.IsNullOrEmpty(pedido.Observacao))
                                {
                                    <h4>Observação</h4>
                                    <p>@pedido.Observacao</p>
                                }


                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
</div>
